* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-navbar {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  height: 10vh;
  background-color: #1565c0;
  color: #fff;
  box-shadow: 4px 4px 14px 1px rgba(0, 0, 0, 0.82);
  -webkit-box-shadow: 4px 4px 14px 1px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: 4px 4px 14px 1px rgba(0, 0, 0, 0.82);
}
ul li {
  display: inline;
  align-items: center;
  right: 10%;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-decoration: none;
  list-style: none;
  justify-content: space-between;
  padding-right: 30px;
}

ol, ul{
  margin-top: -35px;
    margin-bottom: 10px;
}
li:hover {
  opacity: 0.7;
  text-decoration: underline;
}
h1 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h5 {
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.price{
  font-size: 15px;
  font-weight: 700;
}
.discount{
  text-decoration: line-through;
  font-weight: 400;
  opacity: 0.5;
}
.cart-btn{
  height: 40px;
  background-color: #1565c0;
  width: 150px;
  color: #fff;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  position: relative;
}

.img-thumbnail{
  background-color: #b8bdc0cc;
  border: 10px solid #ddd;
  
}

img{
  height: 50%;
}

.itemTtl{
  padding: 20px 0 20px 100px;
  
  color: orange;
}

.itemPrice{
  padding-top: 2px;
  padding-left: 100px;
  font-weight: 600;
}

.table>tbody>tr>td{
  padding: 0px;
  line-height: 10;
  vertical-align: top;
  border-top: none;
}

.cartTtl{
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}